@import "tailwindcss";

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }

  .font-hanken {
    font-family: 'Hanken Grotesk', sans-serif;
  }

  .font-work {
    font-family: 'Work Sans', sans-serif;
  }
}

.product-card-hover {
  transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

.product-card-hover:hover {
  box-shadow: 0px 8px 24px rgba(0, 62, 111, 0.1);
  border-color: #005696;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #003e6f;
  border-radius: 10px;
}
